<html lang = "en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="notfound content">
            <h2>404 page</h2>
            <p>Page not found</p>
        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>